body{
	font: 15px/1.5 arial,Helvetica,sans-serif;
	/* [disabled]padding: 0; */
	margin: 0;
	background-color: #F36;

		
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	background-color:none;
}
.containe{
	background-color:whitesmoke;
	width=500;
}

header{
	background-color:rgba(34,34,34,1.00);
	color:#FFFFFF;
padding-top:30px;
	min-height:10px;
	border-bottom:#c8491d 6px solid;
	
}

header a{
	color:#FFFFFF;
	text-decoration:underline;
	text-decoration-color: rgba(138,4,6,1.00);
	text-transform: uppercase;
 font-size: 16px;
}
header ul{
	margin: 0;
	padding: 0;
	
}
header li{
	float: ltr;
	display: inline;
	padding: 0 40px 0 40px;
	
}

header .highlight ,header .current a{

	color:#e8491d;
	font-weight: bold;
}
header a:hover{
	color:crimson;

}
#showcase{
	min-height: 400px;
	background-color: #666;
	text-align: center;
	color: #FFF;

}




    background-image: url(http://kreativo.se/backlogin.jpg);
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
}

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
	background-color:#F4EAEA;
}
.button_1 {
	height:34px;
	background:#e8491d;
	border:1;
	padding-left:20px;
	padding-right:20px;
	color:#FFF;
}
.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top:50px;
	margin-bottom:10px;
}
	
}
aside#sidebar{
	float:right;
	width:50;
    margin-top:30px;
}
aside#b{
	float:left;
	width:30%
	margin-top:10px;
}
